<header class="site-header">
    <div class="header-content">
        <a href="/home" class="home-button">Home</a>
        <img src="/public/images/logo.png" alt="Site Logo" class="site-logo">
        <a href="/login" class="login-button">Login</a>
    </div>
</header>
